<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Wallet table</h1>

    {% for wallet in wallets %}

    <table>
        <th>{{wallet.currency}}</th>
        <td>{{wallet.balance}}</td>
        <td>{{wallet.amount}}</td>
        <td>{{wallet.status}}</td>
        <td>{{wallet.sex}}</td>

        {% endfor %}
    </table>
    
</body>
</html>